* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #202124;
  color: white;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

.register-container {
  max-width: 400px;
  margin: 60px auto 0 auto;
  padding: 32px 28px 28px 28px;
  background: rgba(32, 33, 36, 0.95);
  border-radius: 10px;
  border: 1px solid #aaa;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container h1 {
  margin-bottom: 24px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.register-form label {
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 4px;
}

.register-form input {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
}

.register-form button[type="submit"] {
  margin-top: 12px;
  padding: 10px;
  background: white;
  color: #202124;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.register-form button[type="submit"]:hover {
  background: white;
}

.register-login-link {
  margin-top: 18px;
  color: #aaa;
  font-size: 1rem;
  text-align: center;
}

.register-login-link a {
  color: #fff263;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 4px;
}

.register-login-link a:hover {
  color: #ffe082;
}

.login-container {
  max-width: 400px;
  margin: 60px auto 0 auto;
  padding: 32px 28px 28px 28px;
  background: rgba(32, 33, 36, 0.95);
  border-radius: 10px;
  border: 1px solid #aaa;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  margin-bottom: 24px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-form label {
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 4px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
}

.login-form button[type="submit"] {
  margin-top: 12px;
  padding: 10px;
  background: white;
  color: #202124;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.login-form button[type="submit"]:hover {
  background: white;
}

.login-register-link {
  margin-top: 18px;
  color: #aaa;
  font-size: 1rem;
  text-align: center;
}

.login-register-link a {
  color: #fff263;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 4px;
}

.login-register-link a:hover {
  color: #ffe082;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid #aaa;
  position: relative; /* atau default */
  z-index: 2;
  margin: 0 auto;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: white;
}

.note-app__header__title {
  text-decoration: none;
  color: white;
}

.navigation {
  margin: 12px 16px;
}

.note-app__header__btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link {
  text-decoration: none;
  font-size: 14px;
  padding: 12px;
  background-color: transparent;
  color: white;
  color: #aaa;
  font-weight: bold;
  margin-right: 8px;
}

.btn-logout {
  background-color: transparent;
  border: 1px solid #d83c3cff;
  color: #d83c3cff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-locale {
  background-color: transparent;
  border: 1px solid #aaa;
  color: #aaa;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-theme {
  background-color: transparent;
  border: 1px solid #aaa;
  color: #aaa;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
  position: relative;
  z-index: 1;
}

.note-app__body__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.icon {
  color: #fff263;
  cursor: pointer;
}

.note-input {
  margin: 0 auto;
  max-width: 800px;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.note-input__body {
  min-height: 175px;
}

.btn-addNote {
  background-color: #006161ff;
  border: none;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.btn-addNote:hover {
  background-color: #004242ff;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
  list-style: none;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
  margin: 100px 0;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  font-size: 18px;
}

.title-link {
  text-decoration: none;
  color: white;
}

.title-link::hover {
  color: white;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
  word-break: break-word;
}

.note-item__action {
  display: flex;
  margin-top: 10px;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border: 1px solid #aaa;
  margin-top: -1px;
  padding: 8px 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

.note-detail-container {
  max-width: 700px;
  margin: 32px auto;
  padding: 20px 20px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.note-detail-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.note-detail-body {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #fff;
  word-break: break-word;
}

.note-detail-date {
  font-size: 0.95rem;
  color: #aaa;
  margin-bottom: 24px;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
